<<<<<<< HEAD
body {
    margin: 20px;
    background-color: thistle;
}

h1 {
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    display: flex;
    justify-content: center;
}

fieldset {
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
}

legend {
    margin-left: 10px;
    font-size: 18px;
}

.form {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 500px;
}

label {
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
}

label:hover {
    color: aliceblue;
}

input {
    border: 1px solid black;
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
}
textarea {
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#add{
    margin-left: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

#lists{
    list-style-type: none;
    margin-left: 220px;
}
#edit,#delete{
    padding: 8px 15px;
    margin: 10px;
=======
body {
    margin: 20px;
    background-color: thistle;
}

h1 {
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    display: flex;
    justify-content: center;
}

fieldset {
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
}

legend {
    margin-left: 10px;
    font-size: 18px;
}

.form {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 500px;
}

label {
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
}

label:hover {
    color: aliceblue;
}

input {
    border: 1px solid black;
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
}
textarea {
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#add{
    margin-left: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

#lists{
    list-style-type: none;
    margin-left: 220px;
}
#edit,#delete{
    padding: 8px 15px;
    margin: 10px;
>>>>>>> 7fe367e1777afc62dff4473d3ddcf2dcd27b9bd7
}